@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

* {
  outline: none !important;
}

html {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}